<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>THUBC Faucet</title>
  </head>
  <body>
    <div
      class="display-1 font-weight-bold"
      style="
        padding: 2.5rem;
        text-align: center;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 100% 400%;
        animation: gradient 15s ease infinite;
        color: white;
      "
    >
      THUBC Faucet
    </div>
    <form
      action="{{ url_for('getWalletAddress')}}"
      method="post"
      style="padding: 2.5rem 12rem"
    >
      <div class="form-group">
        <label
          for="publicKeyAddress"
          class="font-weight-bold display-5"
          style="font-size: 1.2rem"
          >Enter your testnet account address</label
        >
        <input
          id="publicKeyAddress"
          type="text"
          class="form-control"
          required
          pattern="^0x[a-fA-F0-9]{40}"
          placeholder="Enter your testnet account address"
          name="walletAddress"
        />
        <small id="emailHelp" class="form-text text-muted"
          >your public key is kept private.</small
        >
      </div>

      <button
        style="
          background: linear-gradient(
            -45deg,
            #ee7752,
            #e73c7e,
            #23a6d5,
            #23d5ab
          );
        "
        type="submit"
        class="btn btn-primary"
      >
        Send me THUBC
      </button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <div>
      <h1 class="display-4 font-weight-bold" style="text-align: center">
        Recent Transactions
      </h1>
      {% for tx in transactions %}
      <li style="text-align: center">
        <a href="{{ 'https://testnet.84scan.com/tx/'+tx }}">{{ tx }}</a>
      </li>
      {% endfor %}
    </div>
  </body>
</html>
